
build/
.clangd/
*.bc
.*.o
*.o
src/compiler_passes/noelle

/src/runtime/virgil
/dep
/compile_commands.json

noelle/
.noelle_marker

.virgil_marker

src/autoconf.h
config.cmake
.config

texas/target
test/dataStructureTester/dataStructureTester

condor/ouput
condor/bin
condor/log

/bench


.cache
.clangd

npbparams.h
test/npb/sys/setparams

/artifacts
