*.bc
.*.o
*.o
/.config
/build
/.clangd
/.cache
/artifacts
/dep
/compile_commands.json
config.cmake
.config# Don't commit the compiled benchmarks
/bench
# Some stuff for NAS
npbparams.h
test/npb/sys/setparams

tools/.ipynb_checkpoints
.venv
