
build/
.clangd/
*.bc
.*.o
*.o
src/compiler_passes/noelle

/src/runtime/virgil
/dep
/compile_commands.json

/dep/noelle/
.noelle_marker

.virgil_marker

src/autoconf.h
config.cmake
.config


condor/ouput
condor/bin
condor/log

/bench


.cache
.clangd

npbparams.h
test/npb/sys/setparams

/artifacts

rt/target


*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
paper.pdf
latex.out
__latexindent_temp.tex
