
choice
	prompt "Runtime Service"
	default SERVICE_NONE

	config SERVICE_NONE
		bool "No service"

	config SERVICE_ANCHORAGE
		bool "Anchorage allocator and defragmentation"

	config SERVICE_CORDOVA
		bool "Cordova File Mapping"

	config SERVICE_JEMALLOC
		bool "jemalloc + Activedefrag"
endchoice


menu "Anchorage service configuration"
	depends on SERVICE_ANCHORAGE

	config ANCHORAGE_PRINT_ACCESS
		bool "Print accesses to the heap as they happen. For debug purposes only"
		default n

	config ANCHORAGE_PRINT_HEAP
		bool "Print changes to the heap (barrier, swap, defrag, etc)"
		default n

endmenu


menu "Debug"
	config SANITY_CHECK
		bool "Perform expensive sanity checks in the runtime (bounds checks, etc)"
		default n

	config DUMP_TRANSLATIONS
		bool "Dump translations after they are created"
		default n

	config DUMP_TRANSLATIONS_FOCUS
		string "Comma separated list of functions to focus on when dumping translations"
		depends on DUMP_TRANSLATIONS
		default ""

	config DUMP_FLOW_GRAPH
		bool "Dump flow graphs after they are constructed"
		default n

	config VERIFY_PASS
		bool "Verify state of LLVM module while transformations are applied. Useful when debugging passes."
		default n
endmenu


menu "Experimental"
	config COMPILER_TIMING
		bool "Enable compiler timing for joining remote barriers"
		default n

	config SWAP_SUPPORT
		bool "Enable swap-in checking in the translation operation"
		default n

	config TRACK_TRANSLATION_HITRATE
		bool "Track hit/miss rate for translations. Warning: VERY SLOW"
		default n


	config ARGUMENT_TRACE
		bool "Dynamically trace if arguments to functions are handles or not and dump it to a trace file"
		default n

endmenu


config SIZE_BITS
  int "How many bits to use for handle sizes. Smaller = more handles. Larger = less handles"
  default 32

config SQUEEZE_BITS
  int # "how much to squeeze by (recommended to set this to 3"
  default 3
