
choice
	prompt "Runtime Service"
	default SERVICE_ANCHORAGE

	config SERVICE_ANCHORAGE
		bool "Anchorage allocator and defragmentation"

	config SERVICE_NONE
		bool "No personality (use system malloc, no defrag)"
endchoice


menu "Anchorage service configuration"
	depends on SERVICE_ANCHORAGE

	config ANCHORAGE_DEFRAG_REORDER
		bool "Permit heap reordering when performing defragmentation"
		default y

	config ANCHORAGE_PRINT_ACCESS
		bool "Print accesses to the heap as they happen. For debug purposes only"
		default n

	config ANCHORAGE_PRINT_HEAP
		bool "Print changes to the heap (barrier, swap, defrag, etc)"
		default n

endmenu


menu "Debug"
	config DUMP_TRANSLATIONS
		bool "Dump translations after they are created"
		default n

	config DUMP_TRANSLATIONS_FOCUS
		string "Comma separated list of functions to focus on when dumping translations"
		depends on DUMP_TRANSLATIONS
		default ""

	config DUMP_FLOW_GRAPH
		bool "Dump flow graphs after they are constructed"
		default n
endmenu


config ESCAPE_PASS
	bool "Translate before argument escapes"
	default y


config SANITY_CHECK
	bool "Perform expensive sanity checks in the runtime (bounds checks, etc)"
	default n

config HOIST_TRANSLATIONS
	bool "Hoist translations out of loops"
	default y

config COMPILER_TIMING
	bool "Enable compiler timing for joining remote barriers"
	default n


config INLINE_TRANSLATION
	bool "Inline translations (recommended)"
	default y

config CORRECTNESS_EMULATOR_LOGGING
	bool "Log correctness fault load/store messages"
	depends on CORRECTNESS_EMULATOR
	default n


config SWAP_SUPPORT
	bool "Enable swap-in checking in the translation operation"
	default n

config LOCK_TRACKING
	bool "Enable lock tracking via shadow-stack rooting"
	default y



config HANDLE_SQUEEZING
	bool "Squeeze more handles into the encoding space by lobbing off alignment bits when encoding"
	default n


config TRACK_TRANSLATION_HITRATE
	bool "Track hit/miss rate for translations"
	default n

config VERIFY_PASS
  bool "Verify state of LLVM module while transformations are applied. Useful when debugging passes."
  default n
