
config USE_NINJA
	bool "Use the Ninja build system instead of Make"
	default n

config DEBUG
	bool "Enable debug Logging"
	default n

config DUMP_GRAPH
	bool "Dump the 'flow graph' after it is constructed"
	depends on DEBUG
	default n

config CONSERVATIVE
	bool "Conservatively pin all loads and stores"
	default y

config INLINE_HANDLE_GUARD
	bool "Inline the handle check before calling runtime functions"
	default y




config SANITY_CHECK
	bool "Perform expensive sanity checks in the runtime (bounds checks, etc)"
	default n
